DATABASE_URL="file:./dev.db"
ADMIN_EMAIL="admin@bazardaluiza.com"
ADMIN_PASSWORD="12345678"
JWT_SECRET="troque-para-uma-chave-segura"
NEXT_PUBLIC_WHATSAPP_NUMBER="5511999999999"
NEXT_PUBLIC_INSTAGRAM_URL="https://instagram.com/bazardaluiza"
